<p id="notice"><%= notice %></p>

<p>
  <b>Proj name:</b>
  <%= @project.proj_name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Student:</b>
  <%= @project.student_id %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
